:root{
  --red: #f54e4e;
  --green: #4aec8c;
}

body{
  background-color: #30384b;
  color: #eee;
  font-family: 'Montserrat', cursive;
  font-size: 35px;
  margin-bottom: 20px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}


main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color:rgba(255,255,255,0.1);
  border-radius:10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
  font-family: 'Montserrat', cursive;
}

button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.social-container{
  padding: 25px 50px;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.social-container:hover {
  transform: translateY(-5px);
}

/* CSS styling for the github container as well as slight hover on Github icon */

.github-social {
  color: black;
}
